*.epf binary

*.scr text

*.lbr text

*.sch text
*.brd text

*.epf linguist-language=Eagle
*.scr linguist-language=Eagle
*.lbr linguist-language=Eagle
*.sch linguist-language=Eagle
*.brd linguist-language=Eagle
